In [15]:
pip install tqdm

Collecting tqdm
  Downloading tqdm-4.48.0-py2.py3-none-any.whl (67 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.48.0
Note: you may need to restart the kernel to use updated packages.

In [16]:
# python <-> maridb (계열 mysql)
from tqdm import tqdm
import pymysql
# 데이터베이스의 대량작업, 객체 연결등등 고차원 작업 진행 지원 모듈
from sqlalchemy import create_engine
# Dataframe을 sql에 전송하는 기능
import pandas.io.sql as pSql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib 
# 필요한 모듈 가져오기 카카오 api 쓰기위해
import urllib.request
import os
import sys
import json

In [2]:
# 1. 연결 문자열 생성
id      = 'root'
pwd     = '12341234'
domain  = 'localhost'
port    = '3306'
database= 'test'
db_url  = f'mysql+pymysql://{id}:{pwd}@{domain}:{port}/{database}'
db_url

'mysql+pymysql://root:12341234@localhost:3306/test'

In [3]:
year1=list(map(lambda x: 201701+x, range(12))) 
year2=list(map(lambda x: 201801+x, range(12)))

year3=list(map(lambda x: 201901+x, range(12))) 
year4=list(map(lambda x: 202001+x, range(6))) 
year5= year1+year2+year3+year4
year5

[201701,
 201702,
 201703,
 201704,
 201705,
 201706,
 201707,
 201708,
 201709,
 201710,
 201711,
 201712,
 201801,
 201802,
 201803,
 201804,
 201805,
 201806,
 201807,
 201808,
 201809,
 201810,
 201811,
 201812,
 201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005,
 202006]

In [18]:

#SELECT 기준일ID,행정동코드,SUM(총생활인구수)/24 total,sum(남자0세부터9세생활인구수+여자0세부터9세생활인구수)/SUM(총생활인구수) ONE1,sum(남자10세부터14세생활인구수+여자10세부터14세생활인구수+남자15세부터19세생활인구수+여자15세부터19세생활인구수)/SUM(총생활인구수)*100 ten,sum(남자20세부터24세생활인구수+여자20세부터24세생활인구수+남자25세부터29세생활인구수+여자25세부터29세생활인구수)/SUM(총생활인구수)*100 two,sum(남자30세부터34세생활인구수+여자30세부터34세생활인구수+남자35세부터39세생활인구수+여자35세부터39세생활인구수)/SUM(총생활인구수)*100 three,sum(남자40세부터44세생활인구수+여자40세부터44세생활인구수+남자45세부터49세생활인구수+여자45세부터49세생활인구수)/SUM(총생활인구수)*100 four,sum(남자50세부터54세생활인구수+여자50세부터54세생활인구수+남자55세부터59세생활인구수+여자55세부터59세생활인구수)/SUM(총생활인구수)*100 five,sum(남자60세부터64세생활인구수+여자60세부터64세생활인구수+남자65세부터69세생활인구수+여자65세부터69세생활인구수)/SUM(총생활인구수)*100 six,sum(남자70세이상생활인구수+여자70세이상생활인구수)/SUM(총생활인구수)*100 seven FROM local_people_dong WHERE 기준일ID LIKE '{name}%%' GROUP BY 행정동코드
    # 4. 데이터 
for i,name in tqdm(enumerate(year5)) :
        print(name)
        str = f"SELECT 기준일ID,행정동코드,avg(총생활인구수) total,avg(남자0세부터9세생활인구수+여자0세부터9세생활인구수)/avg(총생활인구수) ONE1,avg(남자10세부터14세생활인구수+여자10세부터14세생활인구수+남자15세부터19세생활인구수+여자15세부터19세생활인구수)/avg(총생활인구수) ten,avg(남자20세부터24세생활인구수+여자20세부터24세생활인구수+남자25세부터29세생활인구수+여자25세부터29세생활인구수)/avg(총생활인구수) two,avg(남자30세부터34세생활인구수+여자30세부터34세생활인구수+남자35세부터39세생활인구수+여자35세부터39세생활인구수)/avg(총생활인구수) three,avg(남자40세부터44세생활인구수+여자40세부터44세생활인구수+남자45세부터49세생활인구수+여자45세부터49세생활인구수)/avg(총생활인구수) four,avg(남자50세부터54세생활인구수+여자50세부터54세생활인구수+남자55세부터59세생활인구수+여자55세부터59세생활인구수)/avg(총생활인구수) five,avg(남자60세부터64세생활인구수+여자60세부터64세생활인구수+남자65세부터69세생활인구수+여자65세부터69세생활인구수)/avg(총생활인구수) six,avg(남자70세이상생활인구수+여자70세이상생활인구수)/AVG(총생활인구수) seven FROM local_people_dong WHERE 기준일ID LIKE '{name}%%' GROUP BY 행정동코드;"
        engine = create_engine( db_url, encoding='utf8' )
    # 3. 실제 연결
        conn = engine.connect()
#         print(name)
        globals()[f'str{name}']=pd.read_sql_query(con=conn,sql=str)
        # 5. I/O를 수행하면 반드시 닫는다!!
        conn.close()
    
        
        
        
        
        
        
#2020-07-26 19:09 분 시작 
#2020-07-26 19:37 분 끝

0it [00:00, ?it/s]

201701

1it [00:46, 46.68s/it]

201702

2it [01:26, 44.51s/it]

201703

3it [02:05, 42.83s/it]

201704

4it [02:42, 41.36s/it]

201705

5it [03:22, 40.70s/it]

201706

6it [04:01, 40.31s/it]

201707

7it [04:43, 40.76s/it]

201708

8it [05:24, 40.99s/it]

201709

9it [06:07, 41.37s/it]

201710

10it [06:49, 41.76s/it]

201711

11it [07:28, 40.95s/it]

201712

12it [08:07, 40.37s/it]

201801

13it [08:49, 40.68s/it]

201802

14it [09:27, 39.95s/it]

201803

15it [10:07, 39.92s/it]

201804

16it [10:45, 39.53s/it]

201805

17it [11:25, 39.39s/it]

201806

18it [12:03, 39.19s/it]

201807

19it [12:43, 39.25s/it]

201808

20it [13:21, 39.09s/it]

201809

21it [14:00, 38.88s/it]

201810

22it [14:39, 38.95s/it]

201811

23it [15:18, 39.05s/it]

201812

24it [15:57, 39.01s/it]

201901

25it [16:38, 39.52s/it]

201902

26it [17:17, 39.40s/it]

201903

27it [17:56, 39.20s/it]

201904

28it [18:38, 40.04s/it]

201905

29it [19:18, 40.14s/it]

201906

30it [19:57, 39.71s/it]

201907

31it [20:38, 40.20s/it]

201908

32it [21:19, 40.37s/it]

201909

33it [21:58, 40.15s/it]

201910

34it [22:38, 40.03s/it]

201911

35it [23:18, 39.97s/it]

201912

36it [23:56, 39.45s/it]

202001

37it [24:36, 39.49s/it]

202002

38it [25:16, 39.76s/it]

202003

39it [25:55, 39.44s/it]

202004

40it [26:42, 41.67s/it]

202005

41it [27:21, 40.81s/it]

202006

42it [27:59, 39.99s/it]

In [19]:
path = 'D:/데이터/법정동코드/서울시_행정_법정동_코드.xlsx ' 
a=pd.read_excel(path,encoding='utf-8')
a[a['행정동'].isnull()]
a.drop(274,inplace=True)
수정된법정동코드=a[['행정동코드','행정동']].drop_duplicates()

,기준일ID,행정동코드,total,ONE1,ten,two,three,four,five,six,seven
0,20170101,11110515,15948.599397,0.060087,0.082004,0.155820,0.166394,0.182952,0.135817,0.089504,0.127421
1,20170101,11110530,32795.242545,0.027064,0.036915,0.173285,0.220029,0.201980,0.138550,0.092284,0.109894
2,20170101,11110540,6013.897520,0.028718,0.073941,0.176271,0.184294,0.170103,0.140376,0.101034,0.125263
3,20170101,11110550,11578.176069,0.045901,0.088861,0.138285,0.115931,0.160090,0.153932,0.125938,0.171061
4,20170101,11110560,22895.411724,0.055054,0.086722,0.109862,0.109252,0.147477,0.170308,0.139652,0.181672
...,...,...,...,...,...,...,...,...,...,...,...
419,20170101,11740650,30015.660669,0.063472,0.073690,0.163950,0.166912,0.139158,0.154990,0.130282,0.107546
420,20170101,11740660,31076.916944,0.055208,0.083809,0.144887,0.167319,0.150659,0.161147,0.134304,0.102667
421,20170101,11740685,55307.365988,0.069000,0.079134,0.132951,0.161680,0.150607,0.164066,0.136950,0.105611
422,20170101,11740690,13699.771817,0.046585,0.106366,0.139295,0.104398,0.140108,0.201369,0.158536,0.103343
423,20170101,11740700,35963.419249,0.068931,0.087118,0.127772,0.139603,0.134423,0.162911,0.149609,0.129633

In [20]:
year1=list(map(lambda x: f'{201701+x}', range(12))) 
year2=list(map(lambda x: f'{201801+x}', range(12))) 
year3=list(map(lambda x: f'{201901+x}', range(12))) 
year4=list(map(lambda x: f'{202001+x}', range(6))) 
year5= year1+year2+year3+year4
year5

['201701',
 '201702',
 '201703',
 '201704',
 '201705',
 '201706',
 '201707',
 '201708',
 '201709',
 '201710',
 '201711',
 '201712',
 '201801',
 '201802',
 '201803',
 '201804',
 '201805',
 '201806',
 '201807',
 '201808',
 '201809',
 '201810',
 '201811',
 '201812',
 '201901',
 '201902',
 '201903',
 '201904',
 '201905',
 '201906',
 '201907',
 '201908',
 '201909',
 '201910',
 '201911',
 '201912',
 '202001',
 '202002',
 '202003',
 '202004',
 '202005',
 '202006']

In [21]:
# https://cafe.naver.com/hacosa/257127 여기서 없는코드 직접 찾아서 넣음
for name in year5 :
    globals()[f'astr{name}'] = pd.merge(globals()[f'str{name}'],수정된법정동코드,on='행정동코드',how='left')
    # astr201701[astr201701['행정동'].isna()]
    # astr201701[astr201701['행정동코드']==11140615]['행정동'] = 1
    # astr201701['행정동코드'] = astr201701.apply(lambda x : if x['행정동코드']==11140615,  axis = 1)
    globals()[f'astr{name}'].loc[astr201701["행정동코드"]==11140615,'행정동'] ='신당동'
    # astr201701[astr201701['행정동코드']==11140615]
    globals()[f'astr{name}'].loc[astr201701["행정동코드"]==11140625,'행정동'] ='다산동'
    # astr201701[astr201701['행정동코드']==11140615]
    globals()[f'astr{name}'].loc[astr201701["행정동코드"]==11140635,'행정동'] ='약수동'
    # astr201701[astr201701['행정동코드']==11140615]
    globals()[f'astr{name}'].loc[astr201701["행정동코드"]==11140645,'행정동'] ='청구동'
    # astr201701[astr201701['행정동코드']==11140615]
    globals()[f'astr{name}'].loc[astr201701["행정동코드"]==11140665,'행정동'] ='동화동'
    # astr201701[astr201701['행정동코드']==11140615]
    globals()[f'astr{name}'].loc[astr201701["행정동코드"]==11350595,'행정동'] = '공릉1동'
    # astr201701[astr201701['행정동코드']==11140615]
    globals()[f'astr{name}'].loc[astr201701["행정동코드"]==11710647,'행정동'] ='위례동'

In [ ]:
astr202006.head()

In [22]:
#카카오 위도 경도 추가하기
KAKAO_API_KEY = '82c98d95311db94dd3cfbfb486c49927' # RestAPIKey
'''
curl -v -X GET "https://dapi.kakao.com/v2/local/search/address.json" --data-urlencode "query=서울종로경찰서" -H "Authorization: KakaoAK 82c98d95311db94dd3cfbfb486c49927"
'''
target_url = 'https://dapi.kakao.com/v2/local/search/keyword.json'
KAKAO_API = 'KakaoAK 82c98d95311db94dd3cfbfb486c49927'
for name in tqdm(year5):
    행정동 = list()
    latY= list()
    lngX= list()
    placename = list()
    addr=list()
    for i in  range(len(globals()[f'astr{name}'])):
       
        keyword= urllib.parse.quote("서울 "+globals()[f'astr{name}']['행정동'][i])
        #1. 요청객체 생성
        request = urllib.request.Request(f'{target_url}?query={keyword}')
        #2. 헤더에 키 설정
        request.add_header('Authorization' , KAKAO_API)   
        #3. 통신
        response = urllib.request.urlopen(request)
        #4. 통신 결과 확인 -> 응답코드 200 , 오류코드 500 ,페이지없음 404 , 권한없음 405

        if response.getcode() == 200:
            #통신성공처리 -> postman으로 통신 수행 및 응답결과 확인 했음(구조)
            #결과 json이다 => json 처리하는 모듈이 필요 
            tmp = json.load(response)
            행정동.append(globals()[f'astr{name}']['행정동'][i])
            addr.append(tmp['documents'][0]['address_name']) 
            latY.append(tmp['documents'][0]['y'])
            lngX.append(tmp['documents'][0]['x'])
            placename.append(tmp['documents'][0]['place_name'])
            # print(tmp)
        else :
            #실패시처리

            print("error code", response.getcode())
    break
#     globals()[f'astr{name}']['lngX']= lngX
#     globals()[f'astr{name}']['latY']= latY
#     globals()[f'astr{name}']['placename']= placename
#     globals()[f'astr{name}']['addr'] = addr

In [24]:
지도 = pd.DataFrame([행정동,addr,latY,lngX,placename]).T
지도.columns=['행정동','주소','위도Y','경도X','장소']

In [25]:
for name in year5 :
    globals()[f'astr{name}']['addr'] = addr
    globals()[f'astr{name}']['latY'] = latY
    globals()[f'astr{name}']['lngX'] = lngX
    globals()[f'astr{name}']['placename'] = placename

In [26]:
astr201701

,기준일ID,행정동코드,total,ONE1,ten,two,three,four,five,six,seven,행정동,addr,latY,lngX,placename
0,20170101,11110515,15948.599397,0.060087,0.082004,0.155820,0.166394,0.182952,0.135817,0.089504,0.127421,청운효자동,서울 종로구 세종로 1-91,37.5776087830657,126.976896737645,경복궁
1,20170101,11110530,32795.242545,0.027064,0.036915,0.173285,0.220029,0.201980,0.138550,0.092284,0.109894,사직동,서울 종로구 통의동,37.578728818102,126.9731106965,서촌한옥마을
2,20170101,11110540,6013.897520,0.028718,0.073941,0.176271,0.184294,0.170103,0.140376,0.101034,0.125263,삼청동,서울 종로구 팔판동 67-1,37.5820641053666,126.981482777468,삼청동거리
3,20170101,11110550,11578.176069,0.045901,0.088861,0.138285,0.115931,0.160090,0.153932,0.125938,0.171061,부암동,서울 종로구 부암동 201,37.5950231297339,126.962651139577,석파정
4,20170101,11110560,22895.411724,0.055054,0.086722,0.109862,0.109252,0.147477,0.170308,0.139652,0.181672,평창동,서울 종로구 구기동,37.6085178126134,126.956370136898,북한산둘레길 옛성길7구간
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,20170101,11740650,30015.660669,0.063472,0.073690,0.163950,0.166912,0.139158,0.154990,0.130282,0.107546,성내제2동,서울 강동구 성내동,37.5356239765187,127.131006444371,강풀만화거리
420,20170101,11740660,31076.916944,0.055208,0.083809,0.144887,0.167319,0.150659,0.161147,0.134304,0.102667,성내제3동,서울 강동구 성내동 449-13,37.522617886373,127.133544819616,더쥬
421,20170101,11740685,55307.365988,0.069000,0.079134,0.132951,0.161680,0.150607,0.164066,0.136950,0.105611,길동,서울 강동구 길동 210-2,37.5364302378391,127.150047815375,천지식물원
422,20170101,11740690,13699.771817,0.046585,0.106366,0.139295,0.104398,0.140108,0.201369,0.158536,0.103343,둔촌제1동,서울 강동구 둔촌동 211,37.5227792962719,127.14342308705,둔촌동자연습지
423,20170101,11740700,35963.419249,0.068931,0.087118,0.127772,0.139603,0.134423,0.162911,0.149609,0.129633,둔촌제2동,서울 강동구 둔촌동 산 11-7,37.5294418097539,127.150260083291,일자산

In [28]:
# 파일 내보내기 
for name in year5 :  
    globals()[f'astr{name}'].to_csv(f'D:/데이터/데이터전처리3/{name}.csv',encoding='cp949',sep=',')

NameError: name '유동인구202001' is not defined