In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

In [3]:
np.__version__, pd.__version__

('1.18.1', '1.0.1')

In [11]:
ORIGIN_PATH = 'C:/Users/guswj/Desktop/py_projects/Project_AirCleaning/data/'
# Origin Path = 권인의 local data path

In [24]:
# 2017~2020 1월 데이터를 추출하여 지점명이 어떻게 변화하고 추가/삭제 되었는지 확인 
path = ORIGIN_PATH + 'Seoul_Traffic/2017/2017_Jan.xlsx' 
df_201701=pd.read_excel(path,encoding='utf-8')

df_201701.head()

,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20170101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,624.0,656.0,408.0,313.0,...,1396.0,1560.0,1613.0,1488.0,1339.0,1036.0,966.0,937.0,792.0,566.0
1,20170102,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,349.0,258.0,154.0,151.0,...,1620.0,1840.0,1742.0,1932.0,1913.0,1474.0,1289.0,1318.0,1211.0,967.0
2,20170103,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,456.0,335.0,248.0,...,1883.0,2028.0,2092.0,2048.0,2105.0,1764.0,1389.0,1348.0,1364.0,1016.0
3,20170104,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,709.0,505.0,362.0,286.0,...,1915.0,1946.0,2062.0,2129.0,2106.0,1699.0,1387.0,1430.0,1254.0,1001.0
4,20170105,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,718.0,543.0,370.0,291.0,...,1778.0,2010.0,1966.0,2221.0,2198.0,1726.0,1362.0,1405.0,1319.0,1044.0

In [13]:
path = ORIGIN_PATH + 'Seoul_Traffic/2018/2018_Jan.xlsx' 
df_201801=pd.read_excel(path,encoding='utf-8')

df_201801.head()

,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20180101,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,657.0,617.0,405.0,279.0,...,1401.0,1592.0,1515.0,1447.0,1192.0,1037.0,918.0,881.0,819.0,533.0
1,20180102,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,382.0,256.0,166.0,171.0,...,1690.0,1835.0,1875.0,2021.0,2015.0,1612.0,1236.0,1308.0,1209.0,951.0
2,20180103,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,641.0,492.0,310.0,238.0,...,1841.0,2007.0,1940.0,2096.0,2209.0,1653.0,1387.0,1295.0,1248.0,956.0
3,20180104,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,661.0,483.0,357.0,279.0,...,1890.0,2030.0,2058.0,2123.0,2113.0,1619.0,1327.0,1379.0,1318.0,984.0
4,20180105,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,764.0,524.0,361.0,282.0,...,1860.0,2134.0,2163.0,2282.0,2307.0,1723.0,1577.0,1460.0,1371.0,1102.0

In [20]:
path = ORIGIN_PATH + 'Seoul_Traffic/2019/2019_Jan.xlsx' 
df_201901=pd.read_excel(path,encoding='utf-8',sheet_name=1, index_col=0)

df_201901.head()

,요일,월,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
일자,,,,,,,,,,,,,,,,,,,,,
20190101,일,1,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,693.0,479.0,401.0,...,1474.0,1498.0,1440.0,1372.0,1184.0,1019.0,895.0,877.0,749.0,546.0
20190102,수,1,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,371.0,224.0,173.0,172.0,...,1695.0,1752.0,1849.0,2080.0,1989.0,1513.0,1233.0,1223.0,1157.0,904.0
20190103,목,1,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,594.0,425.0,328.0,215.0,...,1980.0,2016.0,2028.0,2212.0,2131.0,1666.0,1396.0,1352.0,1224.0,982.0
20190104,금,1,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,736.0,482.0,374.0,269.0,...,2051.0,2029.0,2106.0,2237.0,2051.0,1794.0,1433.0,1354.0,1297.0,992.0
20190105,토,1,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,802.0,570.0,467.0,393.0,...,2007.0,1896.0,1893.0,2080.0,1819.0,1303.0,1146.0,1146.0,1090.0,745.0

In [21]:
path = ORIGIN_PATH + 'Seoul_Traffic/2020/2020_Jan.xlsx' 
df_202001=pd.read_excel(path,encoding='utf-8',sheet_name=1, index_col=0)

df_202001.head()

,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,4시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
일자,,,,,,,,,,,,,,,,,,,,,
20200101,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,290.0,...,1472.0,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0
20200102,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,266.0,...,1792.0,1897.0,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0
20200103,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,279.0,...,2004.0,1929.0,2049.0,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0
20200104,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,330.0,...,1837.0,1788.0,1588.0,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0
20200105,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,209.0,...,1634.0,1673.0,1494.0,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0

for i in range(2017,2021,1):
    target_period = f'{i}01'
    targetname_file = 'df_' + target_period
    targetname_col = 'unique_cols_' + target_period
    targetname_point = 'unique_point_' + target_period
    print(targetname_file, target_period, '지점명 : ' , targetname_col, '지점번호 : ', targetname_point)
    
    targetname_file.head()
    
    targetname_col = targetname_file['지점명'].unique()
    targetname_point = targetname_file['지점번호'].unique()
    
    print(target_period, '지점명 : ' , targetname_col, '지점번호 : ', targetname_point)

In [50]:
unique_cols_201701 = df_201701['지점명'].unique()
unique_point_201701 = df_201701['지점번호'].unique()
unique_cols_201701.shape, unique_point_201701.shape

((143,), (143,))

In [57]:
unique_cols_201801 = df_201801['지점명'].unique()
unique_point_201801 = df_201801['지점번호'].unique()
unique_cols_201801.shape, unique_point_201801.shape

((144,), (144,))

In [58]:
unique_cols_201901 = df_201901['지점명'].unique()
unique_point_201901 = df_201901['지점번호'].unique()
unique_cols_201901.shape, unique_point_201901.shape

((135,), (135,))

In [59]:
unique_cols_202001 = df_202001['지점명'].unique()
unique_point_202001 = df_202001['지점번호'].unique()
unique_cols_202001.shape, unique_point_202001.shape

((135,), (135,))

In [63]:
# 2017에는 있고 2018년에는 없는 도로명

comparison_2017n2018 = set(unique_point_201701)&set(unique_point_201801)
set(unique_point_201701)-comparison_2017n2018

set()

In [64]:
# 2018에는 있고 2017년에는 없는 도로명

set(unique_point_201801)-comparison_2017n2018

{'B-30'}

In [62]:
# 2018년도는 있고 2019년은 없는 도로명

comparison_2018n2019 = set(unique_point_201801)&set(unique_point_201901)
set(unique_point_201801)-comparison_2018n2019

{'C-02',
 'C-22',
 'D-46',
 'D-47',
 'D-48',
 'D-50',
 'D-51',
 'D-52',
 'D-53',
 'D-54'}

In [65]:
# 2019년도는 있고 2018년은 없는 도로명

set(unique_point_201901)-comparison_2018n2019

{'B-37'}

In [68]:
# 2019년도는 있고 2020년은 없는 도로명

comparison_2019n2020 = set(unique_point_202001)&set(unique_point_201901)
set(unique_point_201901)-comparison_2019n2020

set()

In [67]:
set(unique_point_202001)-comparison_2019n2020

set()

In [71]:
df_202001.dtypes

요일       object
지점명      object
지점번호     object
방향       object
구분       object
0시      float64
1시      float64
2시      float64
3시      float64
4시      float64
5시      float64
6시      float64
7시      float64
8시      float64
9시      float64
10시     float64
11시     float64
12시     float64
13시     float64
14시     float64
15시     float64
16시     float64
17시     float64
18시     float64
19시     float64
20시     float64
21시     float64
22시     float64
23시     float64
dtype: object

In [146]:
np.mean(df_202001[df_202001.isnull() == False][['0시', '1시', '2시', '3시', '4시', '5시',
       '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시',
       '17시', '18시', '19시', '20시', '21시', '22시', '23시']],axis=1)

일자
20200101     896.375000
20200102    1381.500000
20200103    1464.291667
20200104    1204.125000
20200105    1000.125000
               ...
20200127    2283.291667
20200128    2452.250000
20200129    2476.750000
20200130    2507.958333
20200131    2495.541667
Length: 8370, dtype: float64

In [147]:
df_202001['Avg'] = np.mean(df_202001[df_202001.isnull() == False][['0시', '1시', '2시', '3시', '4시', '5시',
       '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시',
       '17시', '18시', '19시', '20시', '21시', '22시', '23시']],axis=1)

df_202001.head()

,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,4시,...,16시,17시,18시,19시,20시,21시,22시,23시,Total,Avg
일자,,,,,,,,,,,,,,,,,,,,,
20200101,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,290.0,...,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0,21513.0,896.375000
20200102,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,266.0,...,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0,33156.0,1381.500000
20200103,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,279.0,...,2049.0,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0,35143.0,1464.291667
20200104,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,330.0,...,1588.0,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0,28899.0,1204.125000
20200105,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,209.0,...,1494.0,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0,24003.0,1000.125000

In [216]:
df_202001 = df_202001.astype({'구분': 'str'})
df_202001

,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,4시,...,17시,18시,19시,20시,21시,22시,23시,Total,Avg,start_point
일자,,,,,,,,,,,,,,,,,,,,,
20200101,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,290.0,...,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0,21513.0,896.375000,구분\n일자 ...
20200102,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,266.0,...,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0,33156.0,1381.500000,구분\n일자 ...
20200103,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,279.0,...,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0,35143.0,1464.291667,구분\n일자 ...
20200104,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,330.0,...,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0,28899.0,1204.125000,구분\n일자 ...
20200105,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,209.0,...,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0,24003.0,1000.125000,구분\n일자 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20200127,월,서부간선도로,F-09,유출,목동교->신정교,2061.0,1576.0,1152.0,958.0,828.0,...,2868.0,3173.0,2872.0,2965.0,2986.0,2582.0,2084.0,54799.0,2283.291667,구분\n일자 ...
20200128,화,서부간선도로,F-09,유출,목동교->신정교,1553.0,1066.0,745.0,679.0,1231.0,...,2734.0,2630.0,2724.0,3260.0,3309.0,3143.0,2817.0,58854.0,2452.250000,구분\n일자 ...
20200129,수,서부간선도로,F-09,유출,목동교->신정교,2164.0,1425.0,1038.0,809.0,1153.0,...,2666.0,2361.0,2687.0,3107.0,3279.0,3272.0,3074.0,59442.0,2476.750000,구분\n일자 ...
20200130,목,서부간선도로,F-09,유출,목동교->신정교,2524.0,1752.0,1186.0,910.0,1176.0,...,2643.0,2173.0,2106.0,2992.0,3314.0,3311.0,3104.0,60191.0,2507.958333,구분\n일자 ...
20200131,금,서부간선도로,F-09,유출,목동교->신정교,2584.0,1777.0,1236.0,907.0,1207.0,...,2509.0,2011.0,2345.0,2979.0,3099.0,3247.0,3197.0,59893.0,2495.541667,구분\n일자 ...

In [241]:
start_list = []
end_list = []

for i in df_202001['구분'].str.split('->') :
    start_list.append(i[0])
    end_list.append(i[1])
    
df_202001.head()

,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,4시,...,19시,20시,21시,22시,23시,Total,Avg,start_point,"(start_point, end_point)",end_point
일자,,,,,,,,,,,,,,,,,,,,,
20200101,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,290.0,...,1014.0,954.0,849.0,780.0,480.0,21513.0,896.375000,목동교,"[봉원고가차도, 독립문역]",신정교
20200102,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,266.0,...,1443.0,1233.0,1165.0,1094.0,852.0,33156.0,1381.500000,목동교,"[봉원고가차도, 독립문역]",신정교
20200103,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,279.0,...,1654.0,1356.0,1260.0,1253.0,941.0,35143.0,1464.291667,목동교,"[봉원고가차도, 독립문역]",신정교
20200104,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,330.0,...,1222.0,1143.0,1089.0,1039.0,791.0,28899.0,1204.125000,목동교,"[봉원고가차도, 독립문역]",신정교
20200105,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,209.0,...,1035.0,987.0,884.0,803.0,564.0,24003.0,1000.125000,목동교,"[봉원고가차도, 독립문역]",신정교

In [245]:
df_202001['start_point']=start_list
df_202001['end_point']=end_list

df_202001.tail()

,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,4시,...,19시,20시,21시,22시,23시,Total,Avg,start_point,"(start_point, end_point)",end_point
일자,,,,,,,,,,,,,,,,,,,,,
20200127,월,서부간선도로,F-09,유출,목동교->신정교,2061.0,1576.0,1152.0,958.0,828.0,...,2872.0,2965.0,2986.0,2582.0,2084.0,54799.0,2283.291667,목동교,"[목동교, 신정교]",신정교
20200128,화,서부간선도로,F-09,유출,목동교->신정교,1553.0,1066.0,745.0,679.0,1231.0,...,2724.0,3260.0,3309.0,3143.0,2817.0,58854.0,2452.250000,목동교,"[목동교, 신정교]",신정교
20200129,수,서부간선도로,F-09,유출,목동교->신정교,2164.0,1425.0,1038.0,809.0,1153.0,...,2687.0,3107.0,3279.0,3272.0,3074.0,59442.0,2476.750000,목동교,"[목동교, 신정교]",신정교
20200130,목,서부간선도로,F-09,유출,목동교->신정교,2524.0,1752.0,1186.0,910.0,1176.0,...,2106.0,2992.0,3314.0,3311.0,3104.0,60191.0,2507.958333,목동교,"[목동교, 신정교]",신정교
20200131,금,서부간선도로,F-09,유출,목동교->신정교,2584.0,1777.0,1236.0,907.0,1207.0,...,2345.0,2979.0,3099.0,3247.0,3197.0,59893.0,2495.541667,목동교,"[목동교, 신정교]",신정교

In [ ]:
df_202001[['지점번호','Avg']].head(50)

In [173]:
cols = df_202001['지점번호'].unique()

In [248]:
point = df_202001[['지점번호','지점명', 'start_point','end_point']][df_202001['방향']=='유입']
point

          지점번호        지점명 start_point end_point
일자
20200101  A-01  성산로(금화터널)      봉원고가차도      독립문역
20200102  A-01  성산로(금화터널)      봉원고가차도      독립문역
20200103  A-01  성산로(금화터널)      봉원고가차도      독립문역
20200104  A-01  성산로(금화터널)      봉원고가차도      독립문역
20200105  A-01  성산로(금화터널)      봉원고가차도      독립문역
...        ...        ...         ...       ...
20200127  F-09     서부간선도로         신정교       목동교
20200128  F-09     서부간선도로         신정교       목동교
20200129  F-09     서부간선도로         신정교       목동교
20200130  F-09     서부간선도로         신정교       목동교
20200131  F-09     서부간선도로         신정교       목동교

[4185 rows x 4 columns]

In [255]:
point = point.drop_duplicates()

point

              지점명 start_point end_point
지점번호
A-01    성산로(금화터널)      봉원고가차도      독립문역
A-02    사직로(사직터널)        독립문역       사직단
A-03  자하문로(자하문터널)         석파정    청운초등학교
A-04   대사관로(삼청터널)         삼청각    삼청공원입구
A-05     율곡로(안국역)         안국역    안국동사거리
...           ...         ...       ...
F-05       동부간선도로         장안교       군자교
F-06       경부고속도로        서초IC      반포IC
F-07        분당수서로        수서IC      탄천1교
F-08        강남순환로       금천요금소      관악IC
F-09       서부간선도로         신정교       목동교

[135 rows x 3 columns]

In [204]:
tmp_list = []
tmp= pd.DataFrame(cols)

for col in cols:
    
    tmp_list.append( df_202001[df_202001['지점번호']== col ]['Avg'].mean())
    tmp_list.append( df_202001[df_202001['지점번호']== col ]['Avg'].mean())
    
tmp['1월']=tmp_list

tmp.columns = ['지점번호','1월']

tmp.set_index('지점번호', drop = True, inplace = True)

tmp

               1월
지점번호
A-01  1257.273522
A-02  1376.579301
A-03   566.275538
A-04   213.567204
A-05  1109.465054
...           ...
F-05  2882.678274
F-06  4058.674059
F-07  2737.949597
F-08  1571.048387
F-09  2304.854167

[135 rows x 1 columns]

In [291]:
month_avg_2020 = pd.merge(left = tmp,
                         right = point,
                         how = 'left',
                         left_on = '지점번호',
                         right_on = '지점번호')


month_avg_2020[month_avg_2020['start_point']=='남산2호터널북단']

              1월          지점명 start_point end_point
지점번호
A-11  911.047131  장충단로(장충단공원)    남산2호터널북단     장충체육관

In [261]:
#*********GPS
# 필요한 모듈 가져오기 => json 파싱을 위해 들고옴
# 최소한 사용하기 직전에만 모듈 가져오기를 수행하면 된다 / 코드 어느 위치든 상관 없음
import urllib.request
import os
import sys
import json

In [298]:
# 바뀔일이 없는 정보는 대문자 변수로 설정하여 상수화
target_url = 'https://dapi.kakao.com/v2/local/search/keyword.json'
KAKAO_API = 'KakaoAK 8496a029241807d997d53db97f23e968'

# 항수화 
# 입력 : 검색어
# 출력 : addr, lat, lng
# 함수명 : getGPSbyKeyword

def getGPSbyKeyword(keyword):
    keyword =  urllib.parse.quote(keyword)
    request = urllib.request.Request(f'{target_url}?query={keyword}')
    
    request.add_header('Authorization', KAKAO_API)
    response = urllib.request.urlopen( request )
    
    if response.getcode() == 200:
        tmp = json.load(response)
        if len(tmp['documents'])==0:
#             print(tmp)
            return ' ',' ',' '
        else:
            addr, lat, lng = tmp['documents'][0]['address_name'], tmp['documents'][0]['y'], tmp['documents'][0]['x']
        
        return addr, lat, lng
    else:
      # 통신 실패 
        addr, lat, lng = ('',0,0)
        return addr, lat, lng

In [299]:
getGPSbyKeyword('남산2호터널북단')

(' ', ' ', ' ')

In [300]:
start_addr = list()
start_lat = list()
start_lng = list()

for i in month_avg_2020['start_point']:
    print(i)
    a,b,c = getGPSbyKeyword(i)
    print(a,b,c,i)
    start_addr.append(a)
    start_lat.append(b)
    start_lng.append(c)


month_avg_2020.head()

봉원고가차도
서울 서대문구 대신동 37.5659400231843 126.946452440577 봉원고가차도
독립문역
서울 종로구 무악동 41-6 37.5744680817828 126.957915974354 독립문역
석파정
서울 종로구 부암동 201 37.5950231297339 126.962651139577 석파정
삼청각
서울 성북구 성북동 330-230 37.5975974409627 126.982991777284 삼청각
안국역
서울 종로구 경운동 95 37.576500118896 126.985423696742 안국역
성균관대입구
서울 종로구 명륜3가 53-21 37.58831649367718 126.99396747284503 성균관대입구
혜화동로터리
서울 종로구 혜화동 37.585546989449 127.001231821768 혜화동로터리
신설동역
서울 동대문구 신설동 76-22 37.5760299683175 127.024456700382 신설동역
상왕십리역
서울 성동구 하왕십리동 960-3 37.564438467635 127.029274674797 상왕십리역
약수역
서울 중구 신당동 369-44 37.5545053994984 127.010891666957 약수역
남산2호터널북단
      남산2호터널북단
서울역
서울 용산구 동자동 43-205 37.5546788388674 126.970606917394 서울역
서울역
서울 용산구 동자동 43-205 37.5546788388674 126.970606917394 서울역
서울역사박물관
서울 종로구 신문로2가 2-1 37.5705003227005 126.970546366796 서울역사박물관
종로3가
서울 종로구 종로3가 10-5 37.570420844523 126.992153252476 종로3가
경찰청앞
서울 중구 의주로1가 37.5621244323259 126.969630614828 경찰청앞
서울시의회
서울 중구 태평로1가 60-1 37.5675391740282 126.976447081467 서울시의회
을지로3가역
서울 중구 을지로3가 335-1 37.5662905969967 126.9909855674 을지로3가역
염천교
서울 중구 의주로2가 37.5595658705687 126.970695541407 염천교
한남1고가차도
서울 용산구 한남동 37.5398051368612 127.003969291913 한남1고가차도
용암초등학교
부산 기장군 기장읍 대변리 444 35.2251555644565 129.226745987781 용암초등학교
용암초등학교
부산 기장군 기장읍 대변리 444 35.2251555644565 129.226745987781 용암초등학교
도동삼거리
서울 중구 남창동 37.5559740816581 126.976957742095 도동삼거리
백범광장
서울 중구 회현동1가 100-115 37.5548284375293 126.97924870464 백범광장
도봉로의정부시계
      도봉로의정부시계
의정부IC
경기 의정부시 장암동 37.6932920335997 127.054822721202 의정부IC
아차산로구리시계
      아차산로구리시계
망우로구리시계
      망우로구리시계
경춘북로구리시계
      경춘북로구리시계
갈매교차로
경기 구리시 갈매동 37.6413296275521 127.112297361605 갈매교차로
북부간선도로구리시계
      북부간선도로구리시계
서하남IC입구
경기 하남시 감일동 37.5123355066532 127.151574031752 서하남IC입구
상일IC입구
서울 강동구 상일동 37.5488662186772 127.1794680357 상일IC입구
강일IC
서울 강동구 고덕동 9-6 37.5729828463899 127.165506102561 강일IC
양재IC
서울 서초구 양재동 37.463533689681 127.040009752607 양재IC
복정역
서울 송파구 장지동 596-21 37.4707418689753 127.126724009736 복정역
밤고개로성남시계
      밤고개로성남시계
복정교차로
서울 송파구 장지동 37.4693718521383 127.123778047003 복정교차로
과천대로과천시계
      과천대로과천시계
선암IC
서울 서초구 우면동 37.4601545476499 127.020128308943 선암IC
예술의전당
서울 서초구 서초동 725-1 37.4792129509778 127.01180215463367 예술의전당
석수역
경기 안양시 만안구 석수동 737 37.43509293822681 126.90232078368835 석수역
천왕지구삼거리
서울 구로구 천왕동 37.479282944678 126.842862452141 천왕지구삼거리
천왕역
서울 구로구 오류동 14-43 37.4868564822373 126.838604215448 천왕역
개봉교사거리
경기 광명시 광명동 37.4853875316522 126.856521788122 개봉교사거리
광명대교사거리
경기 광명시 철산동 37.4849643517473 126.870832340469 광명대교사거리
철산대교사거리
경기 광명시 철산동 37.4746048941329 126.876199757215 철산대교사거리
금천교사거리
서울 금천구 독산동 37.4647771296843 126.88374419344 금천교사거리
신촌사거리
경기 광명시 소하동 37.4506799912548 126.889480065845 신촌사거리
오쇠삼거리
경기 부천시 고강동 37.5421303351948 126.809029128789 오쇠삼거리
화곡로부천시계
      화곡로부천시계
부천IC
경기 부천시 내동 37.5241911881222 126.777014975207 부천IC
유한공고
서울 구로구 항동 1-7 37.48798330046932 126.82325461351519 유한공고
신정로부천시계
      신정로부천시계
고촌IC
경기 김포시 고촌읍 전호리 37.5872169451332 126.792438041391 고촌IC
행주대교남단
서울 강서구 개화동 143-8 37.5927190742572 126.804443214988 행주대교남단
통일로고양시계
      통일로고양시계
서오릉로고양시계
      서오릉로고양시계
수색로고양시계
      수색로고양시계
가양대교북단
서울 마포구 상암동 37.5736839339029 126.864240396971 가양대교북단
구리시계
경기 구리시 수택동 383-5 37.600273989308 127.138879003794 구리시계
행주대교남단
서울 강서구 개화동 143-8 37.5927190742572 126.804443214988 행주대교남단
가양대교남단
서울 강서구 염창동 37.5634898145076 126.862456985557 가양대교남단
성산대교남단
서울 영등포구 양화동 1-22 37.5462484260404 126.886252139642 성산대교남단
양화대교남단
서울 영등포구 당산동 37.5391072861921 126.900415616196 양화대교남단
서강대교남단
서울 영등포구 여의도동 37.5319585309397 126.921654302718 서강대교남단
마포대교남단
서울 영등포구 여의도동 37.5235858664592 126.939043613202 마포대교남단
원효대교남단
서울 영등포구 여의도동 5 37.5224063282755 126.937085275299 원효대교남단
한강대교남단
서울 동작구 본동 37.5133867635408 126.955805733352 한강대교남단
동작대교남단
서울 동작구 동작동 316-3 37.5052915487787 126.980266730357 동작대교남단
반포대교남단
서울 서초구 잠원동 37.5238347740296 127.015995958212 반포대교남단
반포고가차도
서울 서초구 반포3동 37.5052787768858 127.000977163122 반포고가차도
한남대교남단
서울 서초구 잠원동 37.5238347740296 127.015995958212 한남대교남단
동호대교남단
서울 강남구 압구정동 378-2 37.5318163211023 127.023872042451 동호대교남단
성수대교남단
서울 강남구 압구정동 37.5291721738221 127.033754555012 성수대교남단
영동대교남단
서울 강남구 청담동 77-4 37.5250775487636 127.054346432267 영동대교남단
청담대교남단
서울 강남구 청담동 77-4 37.5250775487636 127.054346432267 청담대교남단
잠실대교남단
서울 송파구 신천동 37.5160392947213 127.098087768128 잠실대교남단
올림픽대교남단
서울 송파구 풍납동 37.5306119893895 127.108519865178 올림픽대교남단
천호대교남단
서울 송파구 풍납동 49-2 37.5411563312406 127.117075836024 천호대교남단
광진교남단
서울 강동구 천호동 37.5412966455234 127.124363037854 광진교남단
구기터널동측
      구기터널동측
국민대학교앞
서울 성북구 정릉동 37.6107926306404 126.9943326111 국민대학교앞
금호역
서울 성동구 금호동4가 1472-1 37.5482627248715 127.015829169834 금호역
한남역
서울 용산구 한남동 399-7 37.5294289189437 127.009209110584 한남역
군자교서단
      군자교서단
용비교
서울 성동구 금호동4가 37.5459208341409 127.030575549386 용비교
군자교동단
      군자교동단
상월곡역
서울 성북구 상월곡동 26-1 37.6065588265169 127.048829192974 상월곡역
길음교사거리
서울 성북구 돈암동 37.6013267072199 127.022059701401 길음교사거리
화랑대역
서울 노원구 공릉동 59 37.6198415528121 127.08354407564 화랑대역
쌍문역
서울 도봉구 창동 37.6485426057036 127.03465609756 쌍문역
월계1교서측
      월계1교서측
노원역
서울 노원구 상계동 335-4 37.6563403513278 127.063449137455 노원역
증산3교
서울 서대문구 북가좌동 37.5801434894531 126.906297754076 증산3교
녹번역
서울 은평구 녹번동 55 37.6008067681825 126.935828008217 녹번역
연희교차로
서울 서대문구 연희동 37.5646515445511 126.929235316222 연희교차로
연희IC
서울 서대문구 남가좌동 79-166 37.5732290382485 126.923485684826 연희IC
외발산사거리
서울 강서구 외발산동 37.5518443152616 126.816622799005 외발산사거리
신월IC
서울 양천구 신월동 37.5255512468868 126.834864591611 신월IC
까치산역
서울 강서구 화곡동 662-5 37.5322306724471 126.846444264065 까치산역
마곡역
서울 강서구 마곡동 727-717 37.56022863776301 126.82469691791624 마곡역
오류IC
서울 구로구 개봉동 37.4981540920437 126.848735091943 오류IC
구로역
서울 구로구 구로동 563-8 37.50334245844327 126.88230919182318 구로역
독산사거리
서울 금천구 독산동 37.4714110847478 126.898190303923 독산사거리
오목교동측
서울 양천구 신정동 322-5 37.5169284312208 126.863629524723 오목교동측
구로디지털단지역
서울 구로구 구로동 810-3 37.4852605752505 126.901473080039 구로디지털단지역
여의2교남단
      여의2교남단
서울교남단
서울 강남구 수서동 329-30 37.4932639691502 127.099903431784 서울교남단
여의교남단
서울 영등포구 여의도동 5 37.5224063282755 126.937085275299 여의교남단
상도터널
서울 동작구 본동 37.50827834842 126.951908984777 상도터널
경문고교
서울 동작구 동작동 산 4-2 37.4925875768791 126.981608921875 경문고교
신림초교
서울 관악구 신림동 418-20 37.4771127217804 126.927585937218 신림초교
낙성대입구
서울 관악구 봉천동 37.4785336851948 126.959909894913 낙성대입구
사당역
서울 동작구 사당동 1112 37.4765604303289 126.981558584016 사당역
뱅뱅사거리
서울 강남구 도곡동 37.4895465688273 127.03166068044 뱅뱅사거리
삼호가든사거리
서울 서초구 반포동 37.5047989922085 127.01035514847 삼호가든사거리
서초역
서울 서초구 서초동 1748-5 37.4918499338918 127.007662120039 서초역
매봉터널
서울 강남구 도곡동 37.4913465026387 127.048432956448 매봉터널
수서IC
서울 강남구 수서동 37.4924516193476 127.097315120663 수서IC
세곡동사거리
서울 강남구 세곡동 37.4647306754928 127.108248234658 세곡동사거리
여의하류IC
서울 영등포구 여의도동 37.5322635522863 126.909711106146 여의하류IC
선릉역
서울 강남구 역삼동 802-31 37.504497373492 127.048961694022 선릉역
논현역
서울 강남구 논현동 279-67 37.5112018042687 127.021653112054 논현역
아시아선수촌아파트
부산 해운대구 반여동 1638 35.202046945991114 129.12161498105567 아시아선수촌아파트
송파역
서울 송파구 가락동 459-4 37.4997149535067 127.112193506363 송파역
동작대교남단
서울 동작구 동작동 316-3 37.5052915487787 126.980266730357 동작대교남단
동작대교북단
서울 용산구 용산동6가 452-1 37.5155526477108 126.983241165234 동작대교북단
정릉터널
서울 종로구 평창동 산 6-2 37.60868681098423 126.98286014286963 정릉터널
월릉IC
서울 성북구 석관동 37.6154357983398 127.069535162018 월릉IC
장안교
서울 중랑구 면목동 37.5807896774528 127.077287362827 장안교
서초IC
서울 서초구 서초동 37.4834066843978 127.025973201198 서초IC
수서IC
서울 강남구 수서동 37.4924516193476 127.097315120663 수서IC
금천요금소
서울 금천구 시흥동 산 6-26 37.4383002590124 126.906411614542 금천요금소
신정교
서울 구로구 신도림동 37.5166282985287 126.880152725715 신정교

               1월          지점명 start_point end_point
지점번호
A-01  1257.273522    성산로(금화터널)      봉원고가차도      독립문역
A-02  1376.579301    사직로(사직터널)        독립문역       사직단
A-03   566.275538  자하문로(자하문터널)         석파정    청운초등학교
A-04   213.567204   대사관로(삼청터널)         삼청각    삼청공원입구
A-05  1109.465054     율곡로(안국역)         안국역    안국동사거리

In [303]:
month_avg_2020['start_addr'] = start_addr
month_avg_2020['start_lat'] = start_lat
month_avg_2020['start_lng'] = start_lng

month_avg_2020.head()

,1월,지점명,start_point,end_point,start_addr,start_lat,start_lng
지점번호,,,,,,,
A-01,1257.273522,성산로(금화터널),봉원고가차도,독립문역,서울 서대문구 대신동,37.5659400231843,126.946452440577
A-02,1376.579301,사직로(사직터널),독립문역,사직단,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354
A-03,566.275538,자하문로(자하문터널),석파정,청운초등학교,서울 종로구 부암동 201,37.5950231297339,126.962651139577
A-04,213.567204,대사관로(삼청터널),삼청각,삼청공원입구,서울 성북구 성북동 330-230,37.5975974409627,126.982991777284
A-05,1109.465054,율곡로(안국역),안국역,안국동사거리,서울 종로구 경운동 95,37.576500118896,126.985423696742

In [ ]:
month_avg_2020.

In [304]:
name = []

for i in month_avg_2020['지점명'].str.split('(') :
    name.append(i[0])
    
month_avg_2020['name'] = name
month_avg_2020.head()

,1월,지점명,start_point,end_point,start_addr,start_lat,start_lng,name
지점번호,,,,,,,,
A-01,1257.273522,성산로(금화터널),봉원고가차도,독립문역,서울 서대문구 대신동,37.5659400231843,126.946452440577,성산로
A-02,1376.579301,사직로(사직터널),독립문역,사직단,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354,사직로
A-03,566.275538,자하문로(자하문터널),석파정,청운초등학교,서울 종로구 부암동 201,37.5950231297339,126.962651139577,자하문로
A-04,213.567204,대사관로(삼청터널),삼청각,삼청공원입구,서울 성북구 성북동 330-230,37.5975974409627,126.982991777284,대사관로
A-05,1109.465054,율곡로(안국역),안국역,안국동사거리,서울 종로구 경운동 95,37.576500118896,126.985423696742,율곡로

In [305]:
end_addr = list()
end_lat = list()
end_lng = list()

for i in month_avg_2020['end_point']:
    print(i)
    a,b,c = getGPSbyKeyword(i)
    print(a,b,c,i)
    end_addr.append(a)
    end_lat.append(b)
    end_lng.append(c)

독립문역
서울 종로구 무악동 41-6 37.5744680817828 126.957915974354 독립문역
사직단
서울 종로구 사직동 1-28 37.5756532581652 126.967659901279 사직단
청운초등학교
강원 동해시 쇄운동 75 37.4855463782301 129.104276518601 청운초등학교
삼청공원입구
서울 종로구 삼청동 산 2-1 37.5895823159869 126.983686538484 삼청공원입구
안국동사거리
서울 종로구 송현동 37.5756528679359 126.983055635678 안국동사거리
원남동사거리
서울 종로구 원남동 37.5759099369174 126.997360075255 원남동사거리
이화사거리
서울 종로구 연건동 37.5761478092222 127.002159945298 이화사거리
동묘앞역
서울 종로구 숭인동 81-39 37.5732166600283 127.016364227103 동묘앞역
신당역
서울 중구 황학동 757 37.5656730531732 127.019477533278 신당역
장충체육관
서울 중구 장충동2가 200-102 37.558178171371 127.006808757736 장충체육관
장충체육관
서울 중구 장충동2가 200-102 37.558178171371 127.006808757736 장충체육관
회현역
서울 중구 남창동 116-1 37.558760244882336 126.97843725718793 회현역
숭례문
서울 중구 남대문로4가 29 37.5600030088843 126.975313124237 숭례문
광화문역
서울 종로구 세종로 186 37.5716477085545 126.976423148119 광화문역
종로2가
서울 종로구 종로2가 38-2 37.5715557705386 126.988209324531 종로2가
시청역
서울 중구 정동 5-8 37.5653444955867 126.977199342956 시청역
덕수궁
서울 중구 정동 5-1 37.5655638710672 126.974894754989 덕수궁
을지로2가
서울 중구 을지로2가 181 37.5651511309814 126.985013903885 을지로2가
숭례문
서울 중구 남대문로4가 29 37.5600030088843 126.975313124237 숭례문
남산1호터널북단
      남산1호터널북단
남산2호터널북단
      남산2호터널북단
남산3호터널북단
      남산3호터널북단
숭례문
서울 중구 남대문로4가 29 37.5600030088843 126.975313124237 숭례문
숭의여대
서울 중구 예장동 8-3 37.5572839134229 126.987469138193 숭의여대
도봉산역
서울 도봉구 도봉동 305-3 37.68956123294353 127.04606047975255 도봉산역
수락지하차도
서울 노원구 상계동 37.6870028666611 127.055566353024 수락지하차도
광나루역
서울 광진구 광장동 550-11 37.5452991715677 127.103521464507 광나루역
동부제일병원
서울 중랑구 망우동 128-29 37.600665739231 127.109024676889 동부제일병원
신내IC
서울 중랑구 신내동 71-37 37.6158840957057 127.102260063131 신내IC
화랑대사거리
서울 노원구 공릉동 37.621583207547 127.087216086245 화랑대사거리
신내IC
서울 중랑구 신내동 71-37 37.6158840957057 127.102260063131 신내IC
둔촌사거리
서울 송파구 방이동 37.5214318985745 127.13378252417 둔촌사거리
상일초교
서울 강동구 상일동 325-1 37.5472228902335 127.172144856224 상일초교
암사대교남단
서울 강동구 천호동 351-1 37.5444226150933 127.119611125915 암사대교남단
서초IC
서울 서초구 서초동 37.4834066843978 127.025973201198 서초IC
장지교
서울 송파구 장지동 37.4762376873655 127.127040795078 장지교
세곡동사거리
서울 강남구 세곡동 37.4647306754928 127.108248234658 세곡동사거리
수서IC
서울 강남구 수서동 37.4924516193476 127.097315120663 수서IC
사당역
서울 동작구 사당동 1112 37.4765604303289 126.981558584016 사당역
양재IC
서울 서초구 양재동 37.463533689681 127.040009752607 양재IC
서초3동사거리
서울 서초구 서초동 37.4840469027876 127.01140605482 서초3동사거리
기아대교앞
서울 금천구 시흥동 37.4387553823818 126.903192883111 기아대교앞
연지마을
전남 영암군 금정면 안노리 34.8917842935625 126.764423969293 연지마을
광명교
경기 광명시 광명동 37.4816594300792 126.846692533975 광명교
개봉역
서울 구로구 개봉동 415 37.4946417150651 126.858715959622 개봉역
구로IC
서울 구로구 구로동 37.4866161888127 126.878757920928 구로IC
수출의다리
서울 금천구 가산동 37.4767609944339 126.884182372553 수출의다리
독산역
서울 금천구 가산동 717 37.4659755677766 126.889475639948 독산역
시흥대교
서울 금천구 시흥동 37.4525122843471 126.89500621224 시흥대교
외발산사거리
서울 강서구 외발산동 37.5518443152616 126.816622799005 외발산사거리
화곡로입구
서울 강서구 화곡동 1106-1 37.5543763937238 126.851432710628 화곡로입구
신월IC
서울 양천구 신월동 37.5255512468868 126.834864591611 신월IC
오정초등학교
경기 부천시 원종동 247 37.5271749040005 126.807524161186 오정초등학교
서부트럭터미널
서울 양천구 신정동 1315 37.50878956984014 126.83986221048815 서부트럭터미널
개화교
서울 강서구 개화동 37.5834283789084 126.798213494551 개화교
방화대교남단
서울 강서구 방화동 53-11 37.5831080400941 126.819031211393 방화대교남단
구파발사거리
서울 은평구 진관동 37.6390219406828 126.91673356368 구파발사거리
구산사거리
서울 은평구 갈현동 536-2 37.6137870012158 126.911628689718 구산사거리
수색교
서울 마포구 상암동 37.5863896811126 126.886358651369 수색교
난지IC
      난지IC
광진교북단
서울 광진구 광장동 189-50 37.5456584172785 127.108813253128 광진교북단
행주대교북단
경기 고양시 덕양구 행주내동 667 37.61144411728 126.819579827537 행주대교북단
가양대교북단
서울 마포구 상암동 37.5736839339029 126.864240396971 가양대교북단
성산대교북단
서울 마포구 성산동 37.5603277547008 126.896412473751 성산대교북단
양화대교북단
서울 마포구 합정동 345-1 37.5471076309493 126.908679285249 양화대교북단
서강대교북단
서울 마포구 신정동 37.5442857274277 126.929793195662 서강대교북단
마포대교북단
서울 마포구 마포동 33-18 37.5381700787052 126.943901599842 마포대교북단
원효대교북단
서울 용산구 이촌동 37.5298949088375 126.951161996718 원효대교북단
한강대교북단
서울 용산구 이촌동 37.5224169077938 126.961800474792 한강대교북단
동작대교북단
서울 용산구 용산동6가 452-1 37.5155526477108 126.983241165234 동작대교북단
반포대교북단
서울 용산구 주성동 64 37.5224411030501 127.000719465362 반포대교북단
반포대교남단
서울 서초구 잠원동 37.5238347740296 127.015995958212 반포대교남단
한남대교북단
서울 용산구 한남동 782 37.5295297068723 127.010684392794 한남대교북단
동호대교북단
      동호대교북단
성수대교북단
서울 성동구 성수동1가 37.5439514599157 127.036205386327 성수대교북단
영동대교북단
서울 성동구 성수동2가 37.5372233211168 127.061153045068 영동대교북단
청담대교북단
      청담대교북단
잠실대교북단
서울 광진구 자양동 37.5324690380456 127.085365349949 잠실대교북단
올림픽대교북단
서울 광진구 광장동 37.5411502223418 127.095871198987 올림픽대교북단
천호대교북단
      천호대교북단
광진교북단
서울 광진구 광장동 189-50 37.5456584172785 127.108813253128 광진교북단
신영동삼거리
서울 종로구 신영동 37.603492186296 126.961845123525 신영동삼거리
신영동삼거리
서울 종로구 신영동 37.603492186296 126.961845123525 신영동삼거리
약수역
서울 중구 신당동 369-44 37.5545053994984 127.010891666957 약수역
서빙고고가차도
서울 용산구 한남동 37.5337142128709 127.007326979406 서빙고고가차도
장한평역
서울 성동구 용답동 37.5616029900695 127.063703730302 장한평역
옥수역
서울 성동구 옥수동 401-1 37.5415662783673 127.017393782846 옥수역
화양사거리
서울 성동구 송정동 70-68 37.548341826991226 127.06745396761663 화양사거리
월곡역
서울 성북구 하월곡동 35-1 37.6018044172918 127.041460725816 월곡역
성신여대입구역
서울 성북구 동선동1가 101-1 37.5929699315407 127.017124928876 성신여대입구역
태릉입구역
서울 노원구 공릉동 678-1 37.618459513199 127.075405300578 태릉입구역
우이교
서울 도봉구 창동 37.6428782606235 127.03090984023 우이교
월릉교서측
      월릉교서측
중계역
서울 노원구 중계동 503-3 37.6450921230569 127.06411035896 중계역
증산교
서울 서대문구 북가좌동 37.5769009716469 126.90314564023 증산교
홍은사거리
서울 서대문구 홍은동 52 37.5916556183828 126.941447453578 홍은사거리
연세대
서울 서대문구 신촌동 134 37.5655576723744 126.938389155713 연세대
연희삼거리
서울 서대문구 연희동 88-16 37.5685600160244 126.932224446292 연희삼거리
화곡로입구
서울 강서구 화곡동 1106-1 37.5543763937238 126.851432710628 화곡로입구
오솔길공원
서울 양천구 신월동 975-1 37.5212253589718 126.836679545563 오솔길공원
화곡터널
서울 강서구 화곡동 37.5361990847631 126.84400579079 화곡터널
발산역
서울 강서구 마곡동 724-3 37.5586795483395 126.837738666588 발산역
개봉사거리
서울 구로구 개봉동 37.4973780955123 126.856494327255 개봉사거리
신도림역
서울 구로구 신도림동 460-26 37.508908482648 126.891312500851 신도림역
시흥IC
경기 시흥시 대야동 산 29-1 37.4557947482728 126.797431200852 시흥IC
관악고교
서울 영등포구 양평동2가 23-2 37.5217956286517 126.88292727312 관악고교
대림사거리
서울 영등포구 대림동 990-130 37.4888829590009 126.906312362101 대림사거리
국회의사당
서울 영등포구 여의도동 1 37.5319100767819 126.914164634077 국회의사당
여의도공원
서울 영등포구 여의도동 2 37.5261349157513 126.92234821796 여의도공원
샛강역
서울 영등포구 여의도동 4-6 37.5173737710931 126.928375058271 샛강역
노들역
서울 동작구 본동 149-6 37.5126721234205 126.953096069577 노들역
이수교차로
서울 동작구 동작동 86-13 37.49988350166646 126.98495571108367 이수교차로
난곡우체국앞
서울 관악구 신림동 37.4777064330828 126.915307483804 난곡우체국앞
낙성대역
서울 관악구 봉천동 1693-39 37.4770932409965 126.963523905001 낙성대역
예술의전당
서울 서초구 서초동 725-1 37.4792129509778 127.01180215463367 예술의전당
강남역
서울 강남구 역삼동 804 37.4980854357918 127.028000275071 강남역
서울성모병원
서울 서초구 반포동 123 37.50179179290787 127.00477249606269 서울성모병원
서울성모병원
서울 서초구 반포동 123 37.50179179290787 127.00477249606269 서울성모병원
영동세브란스
서울 강남구 도곡동 146-92 37.4927889503163 127.046348715929 영동세브란스
탄천1교
서울 강남구 일원동 37.5001612309338 127.082302272429 탄천1교
내곡IC
서울 서초구 내곡동 37.458164442214 127.075329957882 내곡IC
여의2교
서울 영등포구 여의도동 37.5263188856523 126.912288569095 여의2교
포스코사거리
서울 강남구 대치동 37.5068365762856 127.056595204405 포스코사거리
신사역
서울 강남구 논현동 279 37.5164350739218 127.020310824772 신사역
종합운동장
서울 마포구 성산동 515-6 37.5681492596569 126.89739773741 종합운동장
석촌역
서울 송파구 송파동 69 37.5054141216925 127.107004062699 석촌역
한강대교남단
서울 동작구 본동 37.5133867635408 126.955805733352 한강대교남단
한강대교북단
서울 용산구 이촌동 37.5224169077938 126.961800474792 한강대교북단
국민대램프
      국민대램프
하월곡램프
서울 성북구 동선동2가 56-1 37.5892971491967 127.019316115439 하월곡램프
군자교
서울 동대문구 장안동 37.5601025507507 127.072028001507 군자교
반포IC
서울 서초구 반포동 37.5030788686325 127.018565554477 반포IC
탄천1교
서울 강남구 일원동 37.5001612309338 127.082302272429 탄천1교
관악IC
서울 관악구 신림동 808-383 37.468203091432 126.947150744081 관악IC
목동교
서울 양천구 목동 37.5308610073837 126.887986129875 목동교

,1월,지점명,start_point,end_point,start_addr,start_lat,start_lng,name
지점번호,,,,,,,,
A-01,1257.273522,성산로(금화터널),봉원고가차도,독립문역,서울 서대문구 대신동,37.5659400231843,126.946452440577,성산로
A-02,1376.579301,사직로(사직터널),독립문역,사직단,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354,사직로
A-03,566.275538,자하문로(자하문터널),석파정,청운초등학교,서울 종로구 부암동 201,37.5950231297339,126.962651139577,자하문로
A-04,213.567204,대사관로(삼청터널),삼청각,삼청공원입구,서울 성북구 성북동 330-230,37.5975974409627,126.982991777284,대사관로
A-05,1109.465054,율곡로(안국역),안국역,안국동사거리,서울 종로구 경운동 95,37.576500118896,126.985423696742,율곡로

In [307]:
month_avg_2020['end_addr'] = end_addr
month_avg_2020['end_lat'] = end_lat
month_avg_2020['end_lng'] = end_lng

month_avg_2020.head()

,1월,지점명,start_point,end_point,start_addr,start_lat,start_lng,name,end_addr,end_lat,end_lng
지점번호,,,,,,,,,,,
A-01,1257.273522,성산로(금화터널),봉원고가차도,독립문역,서울 서대문구 대신동,37.5659400231843,126.946452440577,성산로,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354
A-02,1376.579301,사직로(사직터널),독립문역,사직단,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354,사직로,서울 종로구 사직동 1-28,37.5756532581652,126.967659901279
A-03,566.275538,자하문로(자하문터널),석파정,청운초등학교,서울 종로구 부암동 201,37.5950231297339,126.962651139577,자하문로,강원 동해시 쇄운동 75,37.4855463782301,129.104276518601
A-04,213.567204,대사관로(삼청터널),삼청각,삼청공원입구,서울 성북구 성북동 330-230,37.5975974409627,126.982991777284,대사관로,서울 종로구 삼청동 산 2-1,37.5895823159869,126.983686538484
A-05,1109.465054,율곡로(안국역),안국역,안국동사거리,서울 종로구 경운동 95,37.576500118896,126.985423696742,율곡로,서울 종로구 송현동,37.5756528679359,126.983055635678

In [309]:
name_addr = list()
name_lat = list()
name_lng = list()

for i in month_avg_2020['name']:
    print(i)
    a,b,c = getGPSbyKeyword(i)
    print(a,b,c,i)
    name_addr.append(a)
    name_lat.append(b)
    name_lng.append(c)

성산로
서울 마포구 성산동 275-3 37.563736903564376 126.90811796211945 성산로
사직로
서울 종로구 적선동 80 37.5755140820249 126.973161662111 사직로
자하문로
서울 종로구 적선동 100-1 37.576378971195886 126.97287494298497 자하문로
대사관로
서울 성북구 성북동 330-105 37.595893443325 126.98863124751 대사관로
율곡로
서울 종로구 종로6가 289-11 37.57015398850458 127.00998385259766 율곡로
창경궁로
서울 종로구 연건동 28-19 37.5786489434697 126.996716954464 창경궁로
대학로
서울 종로구 혜화동 180 37.5835738047263 127.001947313895 대학로
종로
서울 종로구 구기동 37.6085178126134 126.956370136898 종로
퇴계로
서울 중구 충무로2가 65-9 37.561320146600636 126.98543344554172 퇴계로
동호로
서울 중구 신당동 355-35 37.555363208827 127.010226333202 동호로
장충단로
서울 중구 장충동2가 산 4-10 37.5583692465112 127.005595509344 장충단로
퇴계로
서울 중구 충무로2가 65-9 37.561320146600636 126.98543344554172 퇴계로
세종대로
서울 중구 태평로2가 113-1 37.5628612078126 126.97647571853 세종대로
새문안로
서울 종로구 평동 112 37.5677211365632 126.968546227963 새문안로
종로
서울 종로구 구기동 37.6085178126134 126.956370136898 종로
서소문로
서울 중구 서소문동 58-7 37.5626839056797 126.97316173792 서소문로
세종대로
서울 중구 태평로2가 113-1 37.5628612078126 126.97647571853 세종대로
을지로
서울 중구 을지로1가 140-1 37.5651867190291 126.981799354998 을지로
칠패로
서울 중구 순화동 151 37.56048878084385 126.97188584385984 칠패로
남산1호터널
서울 용산구 한남동 37.5486349649367 126.997234294854 남산1호터널
남산2호터널
서울 중구 장충동2가 37.5502026774846 126.996319860266 남산2호터널
남산3호터널
서울 용산구 후암동 37.5500577070323 126.985682337757 남산3호터널
소월로
서울 용산구 한남동 747-7 37.5394483786687 126.997388517079 소월로
소파로
서울 중구 회현동1가 산 1-19 37.556687033747664 126.98399815375103 소파로
도봉로
서울 도봉구 쌍문동 83-4 37.6503154624328 127.035590654773 도봉로
동일로
서울 노원구 상계동 694-1 37.6562628238079 127.060090083312 동일로
아차산로
경기 구리시 아천동 304-2 37.5631174949073 127.114991372624 아차산로
망우로
서울 중랑구 상봉동 160-7 37.5959580171049 127.083698541782 망우로
경춘북로
경기 남양주시 평내동 산 73-7 37.6521605397841 127.226861893497 경춘북로
화랑로
경기 안산시 단원구 원곡동 846-3 37.3268616298091 126.80133873499 화랑로
북부간선도로
서울 성북구 석관동 375-28 37.614925576874 127.066870731277 북부간선도로
서하남로
경기 하남시 춘궁동 248-9 37.523379666483 127.196982027673 서하남로
천호대로
서울 광진구 구의동 175-1 37.5474340560166 127.09774414284 천호대로
올림픽대로
서울 강남구 압구정동 372-2 37.5342373020898 127.028013785582 올림픽대로
경부고속도로
경북 영천시 북안면 송포리 산 108-4 35.9328154115438 128.98489523613216 경부고속도로
송파대로
서울 송파구 문정동 618 37.4820976521034 127.123830694097 송파대로
밤고개로
서울 강남구 수서동 713 37.4882240419215 127.101656117127 밤고개로
분당수서로
경기 성남시 중원구 성남동 1732 37.4322811249515 127.121678649894 분당수서로
과천대로
경기 과천시 과천동 325-1 37.4423990692613 126.997993068941 과천대로
양재대로
서울 서초구 양재동 217-6 37.4619310902256 127.036287876828 양재대로
반포대로
서울 서초구 서초동 1540-6 37.4892982193408 127.008552878463 반포대로
시흥대로
서울 금천구 독산동 1080-5 37.4624040834165 126.89761474626 시흥대로
금오로
경기 시흥시 과림동 615-2 37.4331949917217 126.835365994251 금오로
오리로
경기 광명시 광명동 150-19 37.4794614367368 126.85564674028 오리로
개봉로
서울 구로구 개봉동 403-108 37.4900827060184 126.855802699744 개봉로
광명대교
서울 금천구 가산동 37.4850920855269 126.872297469813 광명대교
철산교
서울 금천구 가산동 37.4753532527387 126.87843696043 철산교
금천교
서울 금천구 가산동 37.465286726865 126.88520384569 금천교
금하로
경기 광명시 소하동 186-15 37.4484336396353 126.877472466943 금하로
오정로
경기 부천시 오정동 68-2 37.5336241621004 126.791541243983 오정로
화곡로
서울 강서구 화곡동 1106-1 37.5543763937238 126.851432710628 화곡로
경인고속국도
인천 부평구 삼산동 37.5240054762198 126.757747975161 경인고속국도
경인로
경기 부천시 심곡본동 558 37.483464926375 126.778456659915 경인로
신정로
서울 양천구 신정동 743-15 37.5083426810648 126.840534991566 신정로
김포대로
경기 김포시 장기동 1-4 37.6612291440127 126.664718449551 김포대로
올림픽대로
서울 강남구 압구정동 372-2 37.5342373020898 127.028013785582 올림픽대로
통일로
서울 은평구 진관동 80-25 37.6371704250724 126.91803174955 통일로
서오릉로
경기 고양시 덕양구 용두동 361-336 37.6277719504529 126.888067419384 서오릉로
수색로
서울 은평구 증산동 241 37.5793131999285 126.900221712357 수색로
강변북로
서울 성동구 옥수동 86 37.5392379871213 127.01810834275 강변북로
강변북로
서울 성동구 옥수동 86 37.5392379871213 127.01810834275 강변북로
행주대교
서울 강서구 개화동 37.5974230485232 126.80934084967 행주대교
가양대교
서울 마포구 상암동 37.5703654019561 126.861765167736 가양대교
성산대교
서울 마포구 망원동 37.5522068927662 126.891208914151 성산대교
양화대교
서울 마포구 합정동 37.5428544395939 126.903547268881 양화대교
서강대교
서울 영등포구 여의도동 37.5378896573783 126.925585606117 서강대교
마포대교
서울 영등포구 여의도동 37.5334847813468 126.936591730332 마포대교
원효대교
서울 영등포구 여의도동 37.5264790176383 126.944598183477 원효대교
한강대교
서울 용산구 이촌동 37.5178641354045 126.959097047391 한강대교
동작대교
서울 용산구 이촌동 37.5079550340725 126.980962735231 동작대교
반포대교
서울 서초구 반포동 37.5145843047315 126.996502588569 반포대교
잠수교
서울 서초구 반포동 649 37.51389234289653 126.99682837933047 잠수교
한남대교
서울 강남구 신사동 37.5270787536836 127.012964753831 한남대교
동호대교
서울 성동구 옥수동 37.535892971625 127.021130736206 동호대교
성수대교
서울 성동구 옥수동 37.5365780660184 127.03491197015 성수대교
영동대교
서울 성동구 성수동2가 37.5303776335575 127.057328002718 영동대교
청담대교
서울 광진구 자양동 824 37.52628677927954 127.06488631965645 청담대교
잠실대교
서울 송파구 신천동 37.5235692080104 127.09220606777 잠실대교
올림픽대교
서울 송파구 신천동 37.5348516200866 127.103018247022 올림픽대교
천호대교
서울 송파구 풍납동 37.5426306588775 127.113077018695 천호대교
광진교
서울 강동구 천호동 37.5443555789916 127.114523501309 광진교
진흥로
서울 은평구 녹번동 산 1-55 37.6096942928691 126.936123897592 진흥로
평창문화로
서울 종로구 평창동 158-1 37.6067666558293 126.968914847327 평창문화로
동호로
서울 중구 신당동 355-35 37.555363208827 127.010226333202 동호로
서빙고로
서울 용산구 용산동6가 168-6 37.5240180044574 126.98021428621992 서빙고로
천호대로
서울 광진구 구의동 175-1 37.5474340560166 127.09774414284 천호대로
뚝섬로
서울 성동구 성수동2가 339-142 37.5390359303818 127.054189101532 뚝섬로
동일로
서울 노원구 상계동 694-1 37.6562628238079 127.060090083312 동일로
화랑로
경기 안산시 단원구 원곡동 846-3 37.3268616298091 126.80133873499 화랑로
동소문로
서울 성북구 길음동 20-1 37.608482732465 127.028748311194 동소문로
화랑로
경기 안산시 단원구 원곡동 846-3 37.3268616298091 126.80133873499 화랑로
도봉로
서울 도봉구 쌍문동 83-4 37.6503154624328 127.035590654773 도봉로
동부간선도로
서울 중랑구 면목동 1049-1237 37.5846269763797 127.073093225196 동부간선도로
동일로
서울 노원구 상계동 694-1 37.6562628238079 127.060090083312 동일로
증산로
서울 은평구 증산동 199-12 37.5799698526535 126.905487385023 증산로
통일로
서울 은평구 진관동 80-25 37.6371704250724 126.91803174955 통일로
성산로
서울 마포구 성산동 275-3 37.563736903564376 126.90811796211945 성산로
연희로
서울 서대문구 연희동 37.5754057227327 126.935342660034 연희로
남부순환로
서울 관악구 봉천동 37.4847006893957 126.93640684932 남부순환로
남부순환로
서울 관악구 봉천동 37.4847006893957 126.93640684932 남부순환로
강서로
서울 강서구 등촌동 689 37.559975361958074 126.84051669137811 강서로
공항대로
서울 강서구 등촌동 675-7 37.5580932291472 126.843923942789 공항대로
경인로
경기 부천시 심곡본동 558 37.483464926375 126.778456659915 경인로
경인로
경기 부천시 심곡본동 558 37.483464926375 126.778456659915 경인로
시흥대로
서울 금천구 독산동 1080-5 37.4624040834165 126.89761474626 시흥대로
영등포로
서울 영등포구 신길동 65-85 37.513938492497736 126.92166861910783 영등포로
시흥대로
서울 금천구 독산동 1080-5 37.4624040834165 126.89761474626 시흥대로
국회대로
서울 영등포구 당산동3가 2-7 37.525745953997394 126.90210315550537 국회대로
경인로
경기 부천시 심곡본동 558 37.483464926375 126.778456659915 경인로
여의대방로
서울 동작구 대방동 498-1 37.5148285274519 126.927051818524 여의대방로
양녕로
서울 동작구 상도1동 528-1 37.5042913682352 126.949667715984 양녕로
동작대로
서울 서초구 방배동 1275 37.4972694597683 126.983299532885 동작대로
문성로
서울 금천구 독산동 974-1 37.4760795187252 126.903931612459 문성로
남부순환로
서울 관악구 봉천동 37.4847006893957 126.93640684932 남부순환로
남부순환로
서울 관악구 봉천동 37.4847006893957 126.93640684932 남부순환로
강남대로
서울 강남구 역삼동 858 37.4952488471573 127.02891292224 강남대로
사평대로
서울 서초구 서초동 1301-4 37.5030496216364 127.021040048752 사평대로
반포대로
서울 서초구 서초동 1540-6 37.4892982193408 127.008552878463 반포대로
언주로
서울 강남구 도곡동 37.4893494356937 127.04948098959 언주로
남부순환로
서울 관악구 봉천동 37.4847006893957 126.93640684932 남부순환로
헌릉로
서울 강남구 세곡동 52-52 37.4648105232812 127.095027594872 헌릉로
노들로
서울 동작구 노량진동 13-6 37.51473685288731 126.93682929467907 노들로
테헤란로
서울 강남구 삼성동 159-7 37.50857933831633 127.0598086324825 테헤란로
강남대로
서울 강남구 역삼동 858 37.4952488471573 127.02891292224 강남대로
백제고분로
서울 송파구 방이동 148-3 37.5118371542455 127.113989697448 백제고분로
송파대로
서울 송파구 문정동 618 37.4820976521034 127.123830694097 송파대로
올림픽대로
서울 강남구 압구정동 372-2 37.5342373020898 127.028013785582 올림픽대로
강변북로
서울 성동구 옥수동 86 37.5392379871213 127.01810834275 강변북로
내부순환로
서울 종로구 부암동 394 37.5961831315369 126.961178504547 내부순환로
북부간선로
경기 남양주시 일패동 782-1 37.616578594507 127.171525354572 북부간선로
동부간선도로
서울 중랑구 면목동 1049-1237 37.5846269763797 127.073093225196 동부간선도로
경부고속도로
경북 영천시 북안면 송포리 산 108-4 35.9328154115438 128.98489523613216 경부고속도로
분당수서로
경기 성남시 중원구 성남동 1732 37.4322811249515 127.121678649894 분당수서로
강남순환로
경기 광명시 소하동 722-5 37.4358965932335 126.893899497123 강남순환로
서부간선도로
서울 양천구 신정동 871-25 37.5041335282719 126.873576955158 서부간선도로

In [310]:
month_avg_2020['name_addr'] = name_addr
month_avg_2020['name_lat'] = name_lat
month_avg_2020['name_lng'] = name_lng

month_avg_2020.head()

,1월,지점명,start_point,end_point,start_addr,start_lat,start_lng,name,end_addr,end_lat,end_lng,name_addr,name_lat,name_lng
지점번호,,,,,,,,,,,,,,
A-01,1257.273522,성산로(금화터널),봉원고가차도,독립문역,서울 서대문구 대신동,37.5659400231843,126.946452440577,성산로,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354,서울 마포구 성산동 275-3,37.563736903564376,126.90811796211945
A-02,1376.579301,사직로(사직터널),독립문역,사직단,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354,사직로,서울 종로구 사직동 1-28,37.5756532581652,126.967659901279,서울 종로구 적선동 80,37.5755140820249,126.973161662111
A-03,566.275538,자하문로(자하문터널),석파정,청운초등학교,서울 종로구 부암동 201,37.5950231297339,126.962651139577,자하문로,강원 동해시 쇄운동 75,37.4855463782301,129.104276518601,서울 종로구 적선동 100-1,37.576378971195886,126.97287494298497
A-04,213.567204,대사관로(삼청터널),삼청각,삼청공원입구,서울 성북구 성북동 330-230,37.5975974409627,126.982991777284,대사관로,서울 종로구 삼청동 산 2-1,37.5895823159869,126.983686538484,서울 성북구 성북동 330-105,37.595893443325,126.98863124751
A-05,1109.465054,율곡로(안국역),안국역,안국동사거리,서울 종로구 경운동 95,37.576500118896,126.985423696742,율곡로,서울 종로구 송현동,37.5756528679359,126.983055635678,서울 종로구 종로6가 289-11,37.57015398850458,127.00998385259766

In [316]:
position_code = month_avg_2020[['name', 'name_addr', 'name_lat', 'name_lng','start_point', 'start_addr', 'start_lat', 'start_lng','end_point', 'end_addr', 'end_lat', 'end_lng']]
position_code

,name,name_addr,name_lat,name_lng,start_point,start_addr,start_lat,start_lng,end_point,end_addr,end_lat,end_lng
지점번호,,,,,,,,,,,,
A-01,성산로,서울 마포구 성산동 275-3,37.563736903564376,126.90811796211945,봉원고가차도,서울 서대문구 대신동,37.5659400231843,126.946452440577,독립문역,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354
A-02,사직로,서울 종로구 적선동 80,37.5755140820249,126.973161662111,독립문역,서울 종로구 무악동 41-6,37.5744680817828,126.957915974354,사직단,서울 종로구 사직동 1-28,37.5756532581652,126.967659901279
A-03,자하문로,서울 종로구 적선동 100-1,37.576378971195886,126.97287494298497,석파정,서울 종로구 부암동 201,37.5950231297339,126.962651139577,청운초등학교,강원 동해시 쇄운동 75,37.4855463782301,129.104276518601
A-04,대사관로,서울 성북구 성북동 330-105,37.595893443325,126.98863124751,삼청각,서울 성북구 성북동 330-230,37.5975974409627,126.982991777284,삼청공원입구,서울 종로구 삼청동 산 2-1,37.5895823159869,126.983686538484
A-05,율곡로,서울 종로구 종로6가 289-11,37.57015398850458,127.00998385259766,안국역,서울 종로구 경운동 95,37.576500118896,126.985423696742,안국동사거리,서울 종로구 송현동,37.5756528679359,126.983055635678
...,...,...,...,...,...,...,...,...,...,...,...,...
F-05,동부간선도로,서울 중랑구 면목동 1049-1237,37.5846269763797,127.073093225196,장안교,서울 중랑구 면목동,37.5807896774528,127.077287362827,군자교,서울 동대문구 장안동,37.5601025507507,127.072028001507
F-06,경부고속도로,경북 영천시 북안면 송포리 산 108-4,35.9328154115438,128.98489523613216,서초IC,서울 서초구 서초동,37.4834066843978,127.025973201198,반포IC,서울 서초구 반포동,37.5030788686325,127.018565554477
F-07,분당수서로,경기 성남시 중원구 성남동 1732,37.4322811249515,127.121678649894,수서IC,서울 강남구 수서동,37.4924516193476,127.097315120663,탄천1교,서울 강남구 일원동,37.5001612309338,127.082302272429
F-08,강남순환로,경기 광명시 소하동 722-5,37.4358965932335,126.893899497123,금천요금소,서울 금천구 시흥동 산 6-26,37.4383002590124,126.906411614542,관악IC,서울 관악구 신림동 808-383,37.468203091432,126.947150744081
F-09,서부간선도로,서울 양천구 신정동 871-25,37.5041335282719,126.873576955158,신정교,서울 구로구 신도림동,37.5166282985287,126.880152725715,목동교,서울 양천구 목동,37.5308610073837,126.887986129875

In [317]:
position_code.to_csv(f'C:/Users/guswj/Desktop/py_projects/Project_AirCleaning/data/position_code.csv',encoding='cp949',sep=',')

In [ ]:
#카카오 위도 경도 추가하기
KAKAO_API_KEY = '82c98d95311db94dd3cfbfb486c49927' # RestAPIKey
'''
curl -v -X GET "https://dapi.kakao.com/v2/local/search/address.json" --data-urlencode "query=서울종로경찰서" -H "Authorization: KakaoAK 82c98d95311db94dd3cfbfb486c49927"
'''
target_url = 'https://dapi.kakao.com/v2/local/search/keyword.json'
KAKAO_API = 'KakaoAK 82c98d95311db94dd3cfbfb486c49927'

    keyword = list()
    start_latY= list()
    lngX= list()
    placename = list()
    addr=list()
    for i in  range(len(globals()[f'astr{name}'])):
       
        keyword= urllib.parse.quote("서울 "+globals()[f'astr{name}']['행정동'][i])
        #1. 요청객체 생성
        request = urllib.request.Request(f'{target_url}?query={keyword}')
        #2. 헤더에 키 설정
        request.add_header('Authorization' , KAKAO_API)   
        #3. 통신
        response = urllib.request.urlopen(request)
        #4. 통신 결과 확인 -> 응답코드 200 , 오류코드 500 ,페이지없음 404 , 권한없음 405

        if response.getcode() == 200:
            #통신성공처리 -> postman으로 통신 수행 및 응답결과 확인 했음(구조)
            #결과 json이다 => json 처리하는 모듈이 필요 
            tmp = json.load(response)
            행정동.append(globals()[f'astr{name}']['행정동'][i])
            addr.append(tmp['documents'][0]['address_name']) 
            latY.append(tmp['documents'][0]['y'])
            lngX.append(tmp['documents'][0]['x'])
            placename.append(tmp['documents'][0]['place_name'])
            # print(tmp)
        else :
            #실패시처리

            print("error code", response.getcode())
    break

NameError: name 'year5' is not defined